*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f5f5f5;
}

header{
    margin-top: 5px;
    width: 100%;
    height: 50px;
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}

section{
    width: 40%;
    height: 100%;
}

.seccion-1{
    width: 70%;
}

#campo-texto{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    margin-top: 20px;
    resize: none;
    font-size: 20px;
    color: royalblue;
    border: solid 3px #0A3871;
}

.botones{
    margin-top: 20px;
    text-align: center;
}

#boton-encriptar, #boton-desencriptar{
    width: 25%;
    height: 40px;
    border-radius: 15px;    
    font-weight: bold;
    font-size: 20px;
}

#boton-encriptar{
    background-color: #0A3871;
    color: white;
}

#boton-desencriptar{
    color: #0A3871;   
}

.seccion-2{
    width: 20%;
    height: 85%;
    background-color: #ffff;
    border-radius: 20px;
    margin-right: 20px;
    border: solid 3px #0A3871;
}

.muneco{
    height: 60%;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.advertencia{
    padding-top: 20px;
    height: 20%;
    width: 100%;
    text-align: center;
}

.texto-instruccion{
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#resultado{
    height: 70%;
    width: 100%;
    color: #0A3871;
    font-size: 20px;
    margin-top: 5px;
    overflow-wrap: break-word;
}

#boton-copiar{
    position: relative;
    top: 200px;
    display: block;
    margin: auto;
    justify-content: space-evenly;
    width: 60%;
    height: 40px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    background-color: #0A3871;
    color: white;
}

footer{
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.oculto{
    display: none;
}

#imagen-muneco{
    padding-top: 20px;
    width: 100%;
}